
#Directories
.vs/*
bin/*
bin-int/*

/Biscuit/vendor/GLFW/bin/*
/Biscuit/vendor/GLFW/bin-int/*
/Biscuit/vendor/GLFW/out/*
/Biscuit/vendor/GLFW/.vs/*
/Biscuit/vendor/GLFW/tests/*
/Biscuit/vendor/GLFW/examples/*

/Biscuit/vendor/spdlog/tests/*
/Biscuit/vendor/spdlog/example/*

#Files
*.usr


